<li class="side-header">Links</li>
<li><a href="/">Home </a></li>
<li><a href="/about">About me</a></li>
<li><a href="/projects">Projects</a></li>


<li class="side-header">Follow Me</li>
<li><a href="mailto:neillobo@outlook.com" target="_blank">Email</a></li>
<li><a href="https://github.com/neillobo" target="_blank">Github</a></li>
